[workspace]
members = [
    "wire",
    "ucf-protocol",
    "pvgs",
    "receipts",
    "vrf",
    "sep",
    "cbv",
    "keys",
    "query",
    "app",
    "rsv",
    "profiles",
    "engine",
]
resolver = "2"

[workspace.package]
edition = "2021"

[workspace.dependencies]
thiserror = "1"
serde = { version = "1", features = ["derive"] }
serde_yaml = { version = "0.9" }
blake3 = "1"
ed25519-dalek = "2"
rand_core = "0.6"
prost = { version = "0.12", features = ["prost-derive"] }
